<div class='footer'>
	<div class='footer-inner'>
		<dl class='foot-one'>
			<dt>专长</dt>
			<length cid='24'>
			<dd><a href="{$field.url}">{$field.title}</a></dd>
			</length>
		</dl>
		<dl class='foot-one'>
			<dt>能力</dt>
			<length cid='23'>
			<dd><a href="{$field.url}">{$field.title}</a></dd>
			</length>
		</dl>
		<dl class='foot-one  foot-two'>
			<dt>design mind</dt>
			<dd class='side1'><a href=""><img src="__TEMPLATE__img/cover_small.jpg" alt="" /></a></dd>
			<dd class='side1'><a href=""><img src="__TEMPLATE__img/cover_small1.jpg" alt="" /></a></dd>
			<dd class='side3'><a href=""><img src="__TEMPLATE__img/cover_small2.jpg" alt="" /></a></dd>
			<dd class='side1'><a href=""><img src="__TEMPLATE__img/cover_small3.jpg" alt="" /></a></dd>
			<dd class='side1'><a href=""><img src="__TEMPLATE__img/cover_small4.jpg" alt="" /></a></dd>
			<dd class='side3'><a href=""><img src="__TEMPLATE__img/cover_small5.jpg" alt="" /></a></dd>
			<dd class='side2'><a href=""><img src="__TEMPLATE__img/cover_small6.jpg" alt="" /> </a></dd>
			<dd class='side2'><a href=""><img src="__TEMPLATE__img/cover_small7.jpg" alt="" /></a></dd>
			<dd ><a href=""><img src="__TEMPLATE__img/cover_small8.jpg" alt="" /></a></dd>
			
			
		</dl>
		<div class='foot-right'>
		<dl class='foot-three'>
			<dt>联系方式</dt>
			<dd><a href="">{$hd.config.tel}</a></dd>
			
		</dl>
		<dl class='foot-three foot-four'>
			<dt>媒体联络</dt>
			<dd><a href=""> {$hd.config.qq}</a></dd>
			<dd><a href="">{$hd.config.weibo}</a></dd>
		</dl>
	</div>
	<div class='foot-right'>
		<dl class='foot-three address'>
			<dt>友情链接</dt>
			<links>
			<dd><a href="{$field.url}">{$field.webname}</a></dd>
			</links>
		</dl>
		
	</div>
	<div class='copyright'>
		<p><strong>geekweb团队公司.</strong></p>
		<span>版权所有@&nbsp;2013 {$hd.config.webname} inc.  |  <a href=""><strong>隐私政策</strong></a>  |<a href=""><strong>使用条款</strong></a> </span>
	</div>
	</div>
</div>