<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>产品设计 | frog</title>
	<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
	<link rel="stylesheet" href="css/comm.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/footer.css" />
	<link rel="stylesheet" href="css/menubar.css" />
	<link rel="stylesheet" href="css/article.css" />
	<link rel="shortcut icon" type='image/x-icon' href="img/favicon.ico" />
</head>
<body>
	<!-- 头部 -->
	<div class='header'>
		<div class='header-inner'>
			<div class='logo'><a href="#">frog</a></div>
			<ul class='nav'>
				<li><a href="">作品</a></li>
				<li><a href=""><b>服务</b></a></li>
				<li><a href="">关于我们</a></li>
				<li><a href="">招贤纳士</a></li>
				<li><a href="">联系我们</a></li>
				<li><a href="">design mind</a></li>
				<li><a href="">English</a></li>
			</ul>

			<!-- list-munubar-service -->

			<div class='service-menubar'>
		<ul>
			<li><a href="" >交互设计</a></li>
			<li><a href="" class='green-bg'>产品设计</a></li>
			<li><a href=""> 创新战略</a></li>
			<li><a href="">品牌</a></li>
			<li><a href="" >设计研究</a></li>
			<li><a href=""> 技术</a></li>
			<li><a href="" >软件工程</a></li>
			<li><a href=""> frogThink</a></li>
		</ul>
	</div>
		</div>

	</div>

	<div class='article'>
		<div  class='article-content'>
			
				<span><img src="img/interaction_design.jpg" alt="" /></span>
				<h1>产品设计</h1>
				<h2>未来，在工业设计领域延续优势传统。</h2>
						<em>
				<p>四十多年前，青蛙设计作为一家高级设计公司由Hartmut Esslinger始创，曾为索尼、苹果、汉莎设计商标，提升其品牌印象。而今，青蛙设计的出品在某种程度上已经成为现代文化的视觉代言。可见，卓越的产品设计并非可有可无，而成为了成功的必需。</p>
				<p>对青蛙设计而言，成功之道在于同消费者之间维持长期而富有意义的联系，而产品是否经过优良的设计则决定了人们的品牌体验。为此，我们将对消费者的了解视作卓越设计的法门。近来，由于选择的增多，人们对其生活用品的品质提出了更高的要求，同时也敏锐地意识到消费对于世界的影响之大。我们发现，实体产品与其相应的设计空间都是有限的。</p>
				
			    </em>
			    <em>
				<p>因而须在每一项设计中着力体察文化与商业的多元性，并对问题作出通盘的理解。我们的设计师拥有工具和流程，但并不笃信标准范例。我们正不断地挑战一般看法并探索新的方向。</p>
				<p>最后，随技术的飞速演进，如何在人与技术、科学与艺术间游走斡旋，将成为贯穿青蛙设计新一代设计的关键。</p>
				<p>当你在设计产品的时候，你在创造对话和交流。 </p>
			    </em>
				
			
		</div>
		<div class='photo-wall'>
			<img src="img/product_design_thumb_1.jpg" alt="" />
			<img src="img/product_design_thumb_2.jpg" alt="" />
			<img src="img/product_design_thumb_3.jpg" alt="" />
			<img src="img/product_design_thumb_4.jpg" alt="" />
		</div>

		<div class='products'>
			<b>作品</b>
			<ul>
				<li><a href=""><img src="img/ipc_thumb_main.jpg" alt="" /><span>IPC IQ</span></a></li>
				<li><a href=""><img src="img/ecotality_thumb_main.jpg" alt="" /><span>ECOtality 充电系统</span></a></li>
				<li><a href=""><img src="img/luftansa_thumb_main.jpg" alt="" /><span>德国汉莎航空 品牌优化</span></a></li>
				<li class='clear-right-padding'><a href=""><img src="img/villaware_thumb_main.jpg" alt="" /><span>Jarden VillaWare</span></a></li>

			</ul>
			<ul>
				<li><a href=""><img src="img/intel_ds_thumb_main.jpg" alt="" /><span>英特尔 数字标牌</span></a></li>
				<li><a href=""><img src="img/turbo-chef_thumb_main.jpg" alt="" /><span>Turbochef 双门壁式烤箱</span></a></li>
				<li><a href=""><img src="img/hp_abacus_thumb_main.jpg" alt="" /><span>惠普 Abacus</span></a></li>
				<li class='clear-right-padding'><a href=""><img src="img/compostall_thumb_main.jpg" alt="" /><span>CompostAll 绿色创意</span></a></li>
				
			</ul>
		</div>
	</div>
	
	
	




	<!-- 底部 -->
	<div class='footer'>
		<div class='footer-inner'>
			<dl class='foot-one'>
				<dt>专长</dt>
				<dd><a href="">医疗保健</a></dd>
				<dd><a href="">移动通讯</a></dd>
				<dd><a href="">能源</a></dd>
				<dd><a href="">中国</a></dd>
				<dd><a href="">媒体</a></dd>
				<dd><a href="">软件计算</a></dd>
				<dd><a href="">社会创新</a></dd>
				<dd><a href="">零售</a></dd>
			</dl>
			<dl class='foot-one'>
				<dt>能力</dt>
				<dd><a href="">交互设计</a></dd>
				<dd><a href="">产品设计</a></dd>
				<dd><a href="">创新战略</a></dd>
				<dd><a href="">品牌</a></dd>
				<dd><a href="">设计研究</a></dd>
				<dd><a href="">技术</a></dd>
				<dd><a href="">软件工程</a></dd>
				<dd><a href="">frogThink</a></dd>
			</dl>
			<dl class='foot-one  foot-two'>
				<dt>design mind</dt>
				<dd class='side1'><a href=""><img src="img/cover_small.jpg" alt="" /></a></dd>
				<dd class='side1'><a href=""><img src="img/cover_small1.jpg" alt="" /></a></dd>
				<dd class='side3'><a href=""><img src="img/cover_small2.jpg" alt="" /></a></dd>
				<dd class='side1'><a href=""><img src="img/cover_small3.jpg" alt="" /></a></dd>
				<dd class='side1'><a href=""><img src="img/cover_small4.jpg" alt="" /></a></dd>
				<dd class='side3'><a href=""><img src="img/cover_small5.jpg" alt="" /></a></dd>
				<dd class='side2'><a href=""><img src="img/cover_small6.jpg" alt="" /> </a></dd>
				<dd class='side2'><a href=""><img src="img/cover_small7.jpg" alt="" /></a></dd>
				<dd ><a href=""><img src="img/cover_small8.jpg" alt="" /></a></dd>
				
				
			</dl>
			<div class='foot-right'>
			<dl class='foot-three'>
				<dt>联系方式</dt>
				<dd><a href="">新业务</a></dd>
				
			</dl>
			<dl class='foot-three foot-four'>
				<dt>媒体联络</dt>
				<dd><a href=""> James Cortese, 美国</a></dd>
				<dd><a href="">Shine Chu, 亚洲 </a></dd>
			</dl>
		</div>
		<div class='foot-right'>
			<dl class='foot-three address'>
				<dt>地址</dt>
				<dd><a href="">阿姆斯特丹</a></dd>
				<dd><a href="">波士顿</a></dd>
				<dd><a href="">南非约翰内斯堡</a></dd>
				<dd><a href="">乌克兰基辅</a></dd>
				<dd><a href="">米兰</a></dd>
				<dd><a href="">慕尼黑</a></dd>
				<dd><a href="">纽约市</a></dd>
				<dd><a href="">旧金山</a></dd>
				<dd><a href="">西雅图</a></dd>
				<dd><a href="">上海</a></dd>
				<dd><a href="">乌克兰文尼察</a></dd>
			</dl>
			
		</div>
		<div class='copyright'>
			<p><strong>Aricent团队公司.</strong></p>
			<span>版权所有@&nbsp;2013 frog design inc.  |  <a href=""><strong>隐私政策</strong></a>  |<a href=""><strong>使用条款</strong></a> </span>
		</div>
		</div>
	</div>
		
</body>
</html>
