<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>设计研究 | frog</title>
	<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>
	<link rel="stylesheet" href="css/comm.css" />
	<link rel="stylesheet" href="css/header.css" />
	<link rel="stylesheet" href="css/footer.css" />
	<link rel="stylesheet" href="css/menubar.css" />
	<link rel="stylesheet" href="css/article.css" />
	<link rel="shortcut icon" type='image/x-icon' href="img/favicon.ico" />
</head>
<body>
	<!-- 头部 -->
	<div class='header'>
		<div class='header-inner'>
			<div class='logo'><a href="#">frog</a></div>
			<ul class='nav'>
				<li><a href="">作品</a></li>
				<li><a href=""><b>服务</b></a></li>
				<li><a href="">关于我们</a></li>
				<li><a href="">招贤纳士</a></li>
				<li><a href="">联系我们</a></li>
				<li><a href="">design mind</a></li>
				<li><a href="">English</a></li>
			</ul>

			<!-- list-munubar-service -->

			<div class='service-menubar'>
		<ul>
			<li><a href="" >交互设计</a></li>
			<li><a href="" >产品设计</a></li>
			<li><a href=""> 创新战略</a></li>
			<li><a href="">品牌</a></li>
			<li><a href="" class='green-bg'>设计研究</a></li>
			<li><a href=""> 技术</a></li>
			<li><a href="" >软件工程</a></li>
			<li><a href=""> frogThink</a></li>
		</ul>
	</div>
		</div>

	</div>

	<div class='article'>
		<div  class='article-content'>
			
				<span><img src="img/design_research.jpg" alt="" /></span>
				<h1>设计研究</h1>
				<h2>行动胜于理念。在青蛙设计，我们通过设计研究激活实际设计。</h2>
						<em>
				<p>多数企业承认，若非深入地了解客户，预测其潜在的需求及新兴的行为模式，则无法在竞争激烈的市场中立足。</p>
				<p>在设计研究过程中，我们收集数据，并通过切实的洞察、设计向客户提供有效运用这些数据的工具。我们交付：1)有助细分不同附加值产品市场的消费者行为洞悉；2)影响消费者偏好和决策的焦点因素、推动力及其优先级；3)涉及满足新兴消费需求的产品能否顺利有效地进入市场的相关规定。</p>
				<p>在每个项目中，我们深入探视消费者的行为习惯，并配合多样化的后续研究，从短期的例行调研到持续几周的田野考察，从工作室一带日常生活的灵感激发到遍及世界数地的对比研究，等等。</p>
				<p>我们一直在培育和开拓新的更适应项目及客户需求的信息收集调研法。近期研发的frogMob工具可在短短数日内进入到全球网络，有效地监测和把握全球消费市场脉搏。作为植根于大众媒体的一项创新工具，frogMob将为我们更为缜密、深入的后续研究快速辨明方向。</p>
				
			    </em>
			    <em>
				<p>在青蛙设计，行动胜于理念。尽管主要从事的是定性研究，我们仍致力于在分析性、观测性、参与性、评估性方面维持一个完美的平衡。关键在于，我们力图将设计、战略、研究及技术纳入一个多原则的整合途径，而不满足于单纯的洞悉。设计研究将积极地贯穿于整个创意的过程，以襄助实际成果与定向解决方案的产出。</p>
				<p>对许多客户而言，设计研究开启了他们与客户间更丰富的对话及全新的合作可能，在此意义上可谓给予了传统的市场研究一剂理想的补充。事实上，我们时常追随客户一同跟进设计研究，以反复的调研确保客户在每一个决策之前真正掌握了最为精准的市场洞悉。</p>
				<p><a href=""><img src="img/frogmob-logo.jpg" alt="" /></a> </p>
			    </em>
				
			
		</div>
		<div class='photo-wall'>
			<img src="img/design-research_thumb_2.jpg" alt="" />
			<img src="img/design-research_thumb_3.jpg" alt="" />
			<img src="img/design-research_thumb_4.jpg" alt="" />
			<img src="img/design-research_thumb_5.jpg" alt="" />
		</div>

		<div class='products '>
			<b>作品</b>
			<ul class='viewpoints-under'>
				<li>
					<em><a href=""><img src="img/Crowdsourcing THUMB.jpg" alt="" /></a></em>
					<a href="" >Crowdsourcing Design Research?</a>
					<span><strong>frogMob: collecting from a multi-cultural, global community.</strong></span>
				</li>
				<li>
					<em><a href=""><img src="img/lift-conf-thumb.jpg" alt="" /></a></em>
					<a href="" >Doing Design Research on the 2010 LIFT Conference</a>
					<span><strong>Gathering insights about how well the conference is serving attendee needs.</strong></span>
				</li>
				<li>
					<em><a href=""><img src="img/Does DR Work_thumb.jpg" alt="" /></a></em>
					<a href="" >What Good is Design Research?</a>
					<span><strong>DR works when user needs and technologies mesh.</strong></span>
				</li>
				<li class='clear-right-padding'>
					<em><a href=""><img src="img/success-and-the-power-of-research_small.jpg" alt="" /></a></em>
					<a href="" >Success and the Power of Research</a>
					<span><strong>Why it’s critical to invest in R&D in an economic downturn.</strong></span>
				</li>

			</ul>
			
		</div>
	</div>
	
	
	




	<!-- 底部 -->
	<div class='footer'>
		<div class='footer-inner'>
			<dl class='foot-one'>
				<dt>专长</dt>
				<dd><a href="">医疗保健</a></dd>
				<dd><a href="">移动通讯</a></dd>
				<dd><a href="">能源</a></dd>
				<dd><a href="">中国</a></dd>
				<dd><a href="">媒体</a></dd>
				<dd><a href="">软件计算</a></dd>
				<dd><a href="">社会创新</a></dd>
				<dd><a href="">零售</a></dd>
			</dl>
			<dl class='foot-one'>
				<dt>能力</dt>
				<dd><a href="">交互设计</a></dd>
				<dd><a href="">产品设计</a></dd>
				<dd><a href="">创新战略</a></dd>
				<dd><a href="">品牌</a></dd>
				<dd><a href="">设计研究</a></dd>
				<dd><a href="">技术</a></dd>
				<dd><a href="">软件工程</a></dd>
				<dd><a href="">frogThink</a></dd>
			</dl>
			<dl class='foot-one  foot-two'>
				<dt>design mind</dt>
				<dd class='side1'><a href=""><img src="img/cover_small.jpg" alt="" /></a></dd>
				<dd class='side1'><a href=""><img src="img/cover_small1.jpg" alt="" /></a></dd>
				<dd class='side3'><a href=""><img src="img/cover_small2.jpg" alt="" /></a></dd>
				<dd class='side1'><a href=""><img src="img/cover_small3.jpg" alt="" /></a></dd>
				<dd class='side1'><a href=""><img src="img/cover_small4.jpg" alt="" /></a></dd>
				<dd class='side3'><a href=""><img src="img/cover_small5.jpg" alt="" /></a></dd>
				<dd class='side2'><a href=""><img src="img/cover_small6.jpg" alt="" /> </a></dd>
				<dd class='side2'><a href=""><img src="img/cover_small7.jpg" alt="" /></a></dd>
				<dd ><a href=""><img src="img/cover_small8.jpg" alt="" /></a></dd>
				
				
			</dl>
			<div class='foot-right'>
			<dl class='foot-three'>
				<dt>联系方式</dt>
				<dd><a href="">新业务</a></dd>
				
			</dl>
			<dl class='foot-three foot-four'>
				<dt>媒体联络</dt>
				<dd><a href=""> James Cortese, 美国</a></dd>
				<dd><a href="">Shine Chu, 亚洲 </a></dd>
			</dl>
		</div>
		<div class='foot-right'>
			<dl class='foot-three address'>
				<dt>地址</dt>
				<dd><a href="">阿姆斯特丹</a></dd>
				<dd><a href="">波士顿</a></dd>
				<dd><a href="">南非约翰内斯堡</a></dd>
				<dd><a href="">乌克兰基辅</a></dd>
				<dd><a href="">米兰</a></dd>
				<dd><a href="">慕尼黑</a></dd>
				<dd><a href="">纽约市</a></dd>
				<dd><a href="">旧金山</a></dd>
				<dd><a href="">西雅图</a></dd>
				<dd><a href="">上海</a></dd>
				<dd><a href="">乌克兰文尼察</a></dd>
			</dl>
			
		</div>
		<div class='copyright'>
			<p><strong>Aricent团队公司.</strong></p>
			<span>版权所有@&nbsp;2013 frog design inc.  |  <a href=""><strong>隐私政策</strong></a>  |<a href=""><strong>使用条款</strong></a> </span>
		</div>
		</div>
	</div>
		
</body>
</html>
